/****** BASE & MOBILE STYLES******/

  /**** General Styling ***/

* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 94%;
}

body {
  background-color: rgba(230, 187, 153, .3);
}

img {
  display: block; /* <--- fix for extra whitespace at bottom of figure img */
  max-width: 100%;
}

a {
  color: #6e3309;
  text-decoration: none;
}

a:hover {
  color: rgb(52, 163, 110);
  text-decoration: underline;
}

/*** Border Styling ***/
#primary, #video-container, #secondary {
  border-top: 4px solid rgba(49,150,102,.9);
}

figure, aside, img, #close, #map-close, iframe, .region {
  border-radius: 5px;
}

/*** Transitions ***/

figure, figcaption, img, figcaption span, .map-pin {
transition-duration: 0.4s;
transition-timing-function: cubic-bezier(.7,-0.39,.31,1.38);
}

footer svg,
footer svg path,
button,
a {
transition-duration: 0.3s;
}


/*** Intro Styling ***/
#intro {
  padding: 15px 5px 10px 5px;
  text-align: center;
  /*text-shadow: 1px 1px 2px white;*/
}

#intro, section, h2, aside {
  color: rgb(110, 51, 9);
}

#intro strong {
  font-size: 2em;
  color: #319666;
  font-family: 'Arizonia', cursive;
  text-shadow: 1px 1px 1px white;
}

#intro-p1 {
  border-top: 5px groove rgb(230, 187, 153);
  /*border-bottom: 5px ridge rgb(230, 187, 153);*/
  border-radius: 5px;
  padding: 10px;

   /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6bb99+0,e6bb99+40,e6bb99+100&1+0,0.5+40,0+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(230,187,153,1) 0%, rgba(230,187,153,0.5) 40%, rgba(230,187,153,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(230,187,153,1) 0%,rgba(230,187,153,0.5) 40%,rgba(230,187,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(230,187,153,1) 0%,rgba(230,187,153,0.5) 40%,rgba(230,187,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb99', endColorstr='#00e6bb99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  /*background: url("../img/bg-swirl.svg") no-repeat center/contain;*/
}


#intro span {
  text-shadow: 0px 0px 3px white;
}

/*** Header Styling ***/

header {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
color: white;
background-image: url("../img/grandcanyonD.jpg");
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-attachment: fixed;
padding-top: 50px;
border-top: 6px solid rgba(230, 187, 153, .9);
border-bottom: 6px solid rgba(230, 187, 153, .9);
box-shadow: 0px 4px 4px rgba(110, 51, 9, .7);
          /*inset 0px 0px 15px 2px rgb(110, 51, 9);*/
}

#logo h1 {
font-family: 'Arizonia', cursive;
font-size: 4em;
font-weight: normal;
margin-top: -35px;
/*margin-bottom: 0;*/
text-align: center;
text-shadow: 2px 2px 3px #333;
background-image: url("../img/bg-swirl.svg");

background-color: rgba(49, 150, 102, 0.3);
border-radius: 80% 5% 70% 5%;
/*border: 1px solid rgba(110, 51, 9, 0.3);*/
/*box-shadow: inset 0px 0px 15px rgba(110, 51, 9, .5);*/
}

#logo h3 {
margin-top: 0;
font-size: 1em;
/*font-style: italic;*/
font-weight: normal;
text-align: center;
text-shadow: 1px 1px 3px black;
background-image: url("../img/bg-swirl2.svg");
background-color: rgba(230, 187, 153, .3);
border-radius: 17% 55% 15% 75%;
/*border: 1px solid rgba(110, 51, 9, 0.3);*/
/*box-shadow: inset 0px 0px 10px rgba(110, 51, 9, .5);*/
}

#logo span {
position: relative;
left: 2.5em;
}

#logo {
/*padding-top: 5%;*/
/*background: url("../img/bg-swirl.svg") no-repeat center/contain;*/
margin-bottom: 50px;
}

#tagline {
flex-basis: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
/*padding-top: 4%;
padding-bottom: 4%;*/
background-color: rgba(49, 150, 102, 0.4);
/*box-shadow: inset 0px 0px 15px 2px rgba(110, 51, 9, .5);*/
/*border-bottom: 5px solid #a27657;*/
}

#tagline h3 {
padding: 0 15px 0 15px;
text-shadow: 1px 1px 3px black;
font-size: 1em;
font-weight: normal;
/*font-style: italic;*/
margin: 10px 0px 10px 0px;
}

#tagline h3::before {
  content: url("../img/swirl2.svg");
  /*background-color: #6e3309;*/
  /*border-radius: 35px;*/
}

 /*** Primary Section Styling ***/

#primary {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

figure {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  border: 3px solid rgb(230, 187, 153);
  box-shadow: 0px 3px 1px rgb(162, 118, 87);
  background-color: rgb(230, 187, 153);
}

figcaption {
  position: absolute;
  font-size: .9em;
  color: white;
  line-height: 1.2;
  padding: .5em;
  bottom: 0;
  background-color: rgba(230, 187, 153, .7);
  text-shadow: 1px 1px 2px black;
  width: 100%;
}

figcaption span {
  position: relative;
  left: 150px;
  opacity: 0;
  transition-property: left, opacity;
}

figure:hover {
  border-color: rgb(52, 163, 110);
  /*border-style: ridge;*/
  background-color: rgb(52, 163, 110);
  cursor: pointer;
}

figure:hover > figcaption {
  background-color: rgba(49, 150, 102, 0.5);
  /*rgba(52, 163, 110, .5);*/
}

figure:hover > figcaption span {
  left: 0px;
  opacity: 1;
}

.map-pin {
  position: absolute;
  top: -200px;
  left: -10px;
  opacity: 0;
  transition-property: top, left, opacity;
}

figure:hover > .map-pin {
  top: -30px;
  left: -10px;
  opacity: 1;
}

/*Create a shadow under the map-pin*/
.map-it::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  top: 14px;
  left: 6px;
  transform: scale(0);
  background-color: rgba(34, 34, 34, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(34, 34, 34, 0.5);
  border-radius: 50%;
  transition: all .4s ;
  transition-timing-function: cubic-bezier(.7,-0.39,.31,1.38);
}

.map-it:hover::before {
  transform: scale(1);
}

#figures {
  display: flex;
  flex-direction: column;
}

#figure-3 {
  order: 1;
}

#figure-1 {
  order: 2;
}

#figure-2 {
  order: 3;
}


/*** Sidebar Styling ***/

#sidebar {
  margin: 8px 0;
  border-top: 5px groove rgb(230, 187, 153);
  border-bottom: 5px ridge rgb(230, 187, 153);
  /*border: 3px solid rgb(230, 187, 153);
  box-shadow: 0px 3px 3px rgb(162, 118, 87);*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6bb99+0,e6bb99+50,e6bb99+100&0+0,1+50,0+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  rgba(230,187,153,0) 0%, rgba(230,187,153,1) 50%, rgba(230,187,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(230,187,153,0) 0%,rgba(230,187,153,1) 50%,rgba(230,187,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(230,187,153,0) 0%,rgba(230,187,153,1) 50%,rgba(230,187,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6bb99', endColorstr='#00e6bb99',GradientType=0 ); /* IE6-8 */

}

aside li {
  line-height: 1.5;
}

aside ol {
  color: #319666;
}

aside ol span {
  color: rgb(110, 51, 9);
}

#list-2 li {
  list-style-image: url("../img/swirl.svg");
}


aside p {
  font-weight: bold;
  font-size: 1.1em;
  color: #319666;
  text-shadow: 0px 0px 3px white;
}

/*** Secondary Section Styling ***/

h2 {
  font-family: 'Arizonia', cursive;
  text-align: center;
  font-size: 2.5em;
  padding-top: 15px;
  text-shadow: 1px 2px 2px grey;
  margin-top: 0;
  margin-bottom: 10px;
}

#secondary strong {
  font-size: 1.2em;
  color: #319666;
  text-shadow: 0px 0px 3px white;
  /*color: #34a36e;*/
}

#secondary figure {
  overflow: hidden;
}

#secondary figcaption {
  font-size: 1.1em;
  text-align: center;
  transform: translateY(100%);
}

#secondary figure:hover > figcaption {
  transform: translateY(0%);
}

#secondary figure:hover > img {
  transform: scale(1.1);
}

.region {
  padding-bottom: 30px;
  border-bottom: 5px ridge rgb(230, 187, 153);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6bb99+38,e6bb99+86,e6bb99+100&0+38,1+86,0+100 */
  background: -moz-linear-gradient(top,  rgba(230,187,153,0) 38%, rgba(230,187,153,1) 86%, rgba(230,187,153,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(230,187,153,0) 38%,rgba(230,187,153,1) 86%,rgba(230,187,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(230,187,153,0) 38%,rgba(230,187,153,1) 86%,rgba(230,187,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6bb99', endColorstr='#00e6bb99',GradientType=0 ); /* IE6-9 */
}

.region p {
  padding: 8px;
}

/*** Video Slider Styling ***/


video {
  max-width: 100%;
}

#video-container {
  padding: 25px 0;
  display: none;
}

#video-button {
  width: 160px;
  margin: 0 auto;
  border-radius: 5px 5px 0px 0px;
  position:relative;
  top: 4px;
}

#video-button svg {
  position: relative;
  top: 2px;
  left: 4px;
}


button {
  color: white;
  background-color: #319666;
  border: 3px solid #40c385;
  border-bottom-color: #277550;
  border-right-color: #277550;
  text-shadow: 1px 1px 2px black;
}

button:hover {
  box-shadow: inset 2px 2px 5px #1d573b;
  border-color: #277550;
  border-bottom-color: #40c385;
  border-right-color: #40c385;
  text-shadow: 2px 2px 5px black;
}

button:active {
  top:4px;
}


/*** Footer Styling ***/

footer {
  margin-top: 30px;
  font-size: .8em;
  text-align: center;
  background-color: #e6bb99;
  /*background: url("../img/bg-swirl.svg") no-repeat center/contain,
  #e6bb99;*/
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid #319666;
  box-shadow:  inset 0px 0px 15px rgb(110, 51, 9);
  color: rgb(110, 51, 9);
}

footer a:hover {
  text-decoration: none;
}

footer svg {
  position: relative;
  bottom: 0px;
  box-sizing: content-box;
  display: inline-block;
  margin: 0 5px;
  transition-property: bottom, transform;
}

footer svg path {
  transition-property: fill;
}

footer svg:hover {
  bottom: 4px;
  transform: scale(1.2);
}

footer svg:hover path {
  fill: #4db684;
}

#copyright span {
  color: #319666;
}
