/*** OVERLAY STYLES (Photo Slideshows and Maps) ***/

#overlay, #map-overlay {
  display: none;
  background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
  overflow: scroll;
}

#overlay p, #overlay h3, #map-close {
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-shadow: 1px 1px 1px black;
}

 #overlay h3, #map-close {
   cursor: pointer;
 }

#overlay h3:hover, #map-close:hover {
    color: rgb(52, 163, 110);
}

#close, #map-close {
  float: right;
  padding: 6px 8px 3px 8px;
  margin-right: 3%;
  font-size: 1.5em;
  font-family: sans-serif;
  background-color: rgba(110, 51, 9, .8);
  border: 2px solid rgb(49, 150, 102);
  box-shadow: 2px 2px 8px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#close:hover, #map-close:hover {
  border-color: rgb(230, 187, 153);
}

#img-box {
  text-align: center;
  clear: both;
}

#overlay img {
  border: 3px solid rgb(230, 187, 153);
  max-width: 100%;
  box-shadow: 3px 3px 25px black;
}

#next {
  float: right;
  padding-right: 5%;
}

#prev {
  float: left;
  padding-left: 5%;
}

#next, #prev {
  margin: 0;
  font-size: 4em;
}

/**** MAP SPECIFIC STUFF ****/
#map-box {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 75px;
    border: 3px solid rgb(230, 187, 153);
    border-radius: 5px;
}

#map-close {
  position: absolute;
  z-index: 1000;
  right: 2%;
  top: 2%;
}

/**** RESPONSIVE STYLES ****/

/*For Map*/

@media screen and (max-width: 700px) {

  #map-box {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

}

/*For Photo Slideshows*/
@media screen and (min-width: 790px) {

  #img-box {
    max-width: 900px;
    max-height: 85vh;
    margin: 0 auto;
    margin-top: 40px;
  }

  #overlay img {
    margin: 0 auto;
    max-height: inherit;
  }

  #prev, #next {
    position: absolute;
    top: 45vh;
  }

  #prev {
    left: 5%;
  }

  #next {
    right: 5%;
  }

  #img-caption {
    position: relative;
    bottom: 40px;
    display: inline;
    font-size: 1.1em;
    background-color: rgba(0,0,0,.5);
  }

  #close {
    position: absolute;
    right: 3%;
    top: 2%;
  }

}

@media screen and (orientation: landscape) and (max-width: 790px) {

#overlay {
  overflow: hidden;
}

#img-box {
  max-height: 100vh;
  margin-top: 0;
}

#overlay img {
  max-height: inherit;
  margin: 0 auto;
}

#prev, #next {
  position: absolute;
  top: 38vh;
}

#prev {
  left: 2%;
}

#next {
  right: 2%;
}

#close {
  position: absolute;
  right: 1%;
}

#img-caption {
  font-size: 0.9em;
  position: relative;
  bottom: 30px;
  display: inline;
  background-color: rgba(0,0,0,.5);
}

}
